* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.quiz-status-container {
    max-width: 600px;
    margin: 0 auto;
}

.quiz-status-display {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    /*font-size: 0; css trick - remove space between inline-block elements*/
}

.quiz-status-item {
    flex-basis: 30%;
    border: 1px solid grey;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.question-answer-container{
    max-width: 600px;
    margin: 0 auto;
}

.question {
    text-align: center;
}

.question > span {
    text-align: center;
    margin: 0 auto;
}

.answer-item:hover {
    cursor: pointer;
}

.answer-item {
    width: 250px;
    margin: 0 auto 20px;
}

.answers-list {
    list-style: none;
    padding-left: 0;
}

.answers-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
}

footer > div:first-of-type {
    text-align: center;
}

.quiz-footer-progress-display-container {
    max-width: 600px;
    margin: 0 auto;
}

.quiz-footer-progress-display {
    display: flex;
    justify-content: space-between;
    width: 600px;
    /*margin: 10px auto;*/
    padding: 0;
    list-style-type: none;
}

.quiz-footer-progress-display-item {
    flex-basis: 9%;
    height: 2px;
    border: 2px solid blue;
}
