* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Styling for index.html*/

.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10% auto;
    max-width: 600px;
    max-height: 100%;
    background-color: beige;
    border: 1px solid gray;
}

header {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
}

.start-quiz-submit {
    margin: 20px auto 20px;
}

.start-quiz-submit:hover {
    cursor: pointer;
}




/* Styling for quizProgress.html */

.quiz-progress-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    height: 95vh;
    margin: 10px auto;
    border: 1px solid gray;
}

.quiz-status-container {
    max-width: 600px;
    margin: 40px auto;
}

.quiz-status-display {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
}

.quiz-status-item {
    flex-basis: 30%;
    text-align: center;
    border: 1px solid grey;
    padding: 20px;
}

.question-answer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.question {
    max-width: 95%;
    margin-bottom: 20px;
}

.answers-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    list-style: none;
    padding-left: 0;
}

.answer-item {
    width: 95%;
    border: 1px solid grey;
    padding: 20px;
    margin-bottom: 20px;
}

.answer-item:hover, .answer-item > div:hover, .answer-item > div > input:hover, .answer-item > div > label:hover {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quiz-footer-progress-display-container {
    max-width: 600px;
}

.quiz-footer-progress-display {
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 0;
    list-style-type: none;
}

.quiz-footer-progress-display-item {
    flex-basis: 9%;
    height: 2px;
    border: 2px solid blue;
}


/* Styling for quizResults.html*/

.quiz-results-container {
    width: 600px;
    height: 500px;
    margin: 10% auto;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quiz-score {
    padding: 20px;
    border: 1px solid gray;
    margin: 30px;
}

.quiz-answer-review:hover {
    cursor: pointer;
}


/* Styling for quizAnswerReview.html */

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*height: 95vh;*/
    margin: 0 auto;
}

.retake-quiz {
    padding: 3px 7px;
    margin-bottom: 7px;
}

.retake-quiz:hover {
    cursor: pointer;
}

.results-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    /*height: 95%;*/
    padding: 0;
    list-style-type: none;
    border: 2px solid gray;
    align-items: center;
    /*flex-basis: 9%;*/
}

.results-question-response-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    /*margin: 15px 0 0;*/
    margin: 5px 0;
    border: 2px solid gray;
}

.results-question-response-item li {
    width: 95%;
    border: 1px dotted gray;
    /*list-style-type: none;*/
}

/*.results-correct-response-item {*/
/*    !*list-style-image: url("./images/Check_48x48.png");*!*/
/*    list-style-image: url("./images/Arrow/Arrow_16x16.png");*/
/*}*/

/*.js-correct-answer {*/
/*    list-style-image: url("./images/Check/Check_16x16.png");*/
/*}*/

/*.js-incorrect-answer {*/
/*    list-style-image: url("./images/Delete/Delete_16x16.png");*/
/*}*/

/* JS styling */

/* display X and background color red */
/*.js-incorrect-answer{*/
/*    background-color: red;*/
/*}*/


/* display "check-mark" and background color green */
/*.js-correct-answer {*/
/*   background-color: lawngreen;*/
/*}*/
